<div style="background:#fff;height: 100%;">
  <div class="example-container">
    <div style="text-align: center;margin:40px 0">
      <h1 style="font-size:3.0rem;font-weight:300">Profile</h1>
    </div>
    <form [formGroup]="registerForm" (ngSubmit)="onFormSubmit($event)">
        <mat-form-field class="field-block">
            <mat-label>Email</mat-label>
           <mat-select matNativeControl required formControlName="email" (selectionChange)="getData($event)">
            <mat-option [value]="user" *ngFor="let user of users"> {{user.email}}</mat-option>
             </mat-select>
         </mat-form-field>
      <mat-form-field class="field-block">
        <input matInput placeholder="Name" required formControlName="name" name="customerName">
        <mat-error *ngIf="registerForm.get('name').hasError('required')">Please enter Name !!!</mat-error> 
      </mat-form-field>
    
      <mat-form-field class="field-block">
        <mat-label>Mobile No.</mat-label>
        <input type="tel" matInput required formControlName="number" name="customerPass">
        <mat-error *ngIf="registerForm.get('number').hasError('required')">Please enter Mobile no. !!!</mat-error>
      </mat-form-field>
      <div class="app-multiple-row">
        <div class="">
          <div style="text-align: center;margin:40px 0">
            <h3>Add Family Member</h3>
          </div>
          <div class="multiple-wrap" *ngFor="let item of items; let i = index">
            <mat-form-field class="field-block">
              <input matInput placeholder="Name" required >
            </mat-form-field>
            <mat-form-field>
              <mat-label>Relationship</mat-label>
              <mat-select matNativeControl required >
                  <mat-option value="father">Father</mat-option>
                  <mat-option value="mother">Mother</mat-option>
                  <mat-option value="son">Son</mat-option>
                  <mat-option value="daughter">Daughter</mat-option>
                </mat-select>
            </mat-form-field>
            <div class="btn-wrap" *ngIf="items.length > 1 ? true : false">
              <button class="btn-danger fab-btn" mat-flat-button color="primary" (click)="removeRow(i)">Remove</button>
            </div> 
          </div>
        </div>
        <div style="text-align:center;margin-top:30px">
            <button class="btn-primary fab-btn" mat-flat-button color="primary" (click)="addRow()">Add</button>
        </div> 
      </div>
      <div style="text-align:center;margin-top:30px">
        <button class="btn-primary" mat-flat-button color="primary" style="width:50%" [disabled]="!registerForm.valid">Update</button>
    </div>   
    </form>
    <div style="text-align:center;margin-top:30px">
        <button class="btn-primary" mat-flat-button color="primary" style="width:50%" (click)="addUsers()">Add New User</button>
    </div>   
  </div>
</div>
