

.example-container, .separator-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.8rem;
  }
  
  .example-container > * {
    max-width: 530px;
    width: 100%;
  }

  .separator-container > * {
    width: 400px;
  }
  
  .example-container form {
    margin-bottom: 20px;
  }
  
  .example-container form > * {
    margin: 5px 0;
  }
  
  .example-container .mat-radio-button {
    margin: 0 12px;
  }

  .mat-form-field-should-float > .mat-form-field-flex{
      background: #FFF !important;
  }

  .state-section{
      width: 40%;
      margin-right: 20px;
  }
  .country-section{
    width: 50%;
}

.field-block {
  width: 100%;
}