<div style="background:#fff;height: 100%;">
  <div class="example-container">
    <div style="text-align: center;margin:40px 0">
      <h1 style="font-size:3.0rem;font-weight:300">Register New User</h1>
    </div>
     <form [formGroup]="registerForm" (ngSubmit)="onFormSubmit($event)"> 
      <mat-form-field class="field-block">
        <input matInput placeholder="Name" required formControlName="name" name="customerName">
        <mat-error *ngIf="registerForm.get('name').hasError('required')">Please enter Name !!!</mat-error> 
      </mat-form-field>
      <mat-form-field class="field-block">
        <input matInput placeholder="E-mail" required formControlName="email" name="customerEmailId">
        <mat-error *ngIf="registerForm.get('email').hasError('required')">Please enter Email !!!</mat-error> 
        <mat-error *ngIf="registerForm.get('email').hasError('email')">Please enter a valid Email.</mat-error>  
      </mat-form-field>
      <mat-form-field class="field-block">
        <input matInput placeholder="Contact Number" required formControlName="phone" name="customerPhone">
        <mat-error *ngIf="registerForm.get('phone').hasError('required')">Please enter Phone !!!</mat-error> 
      </mat-form-field>
      <!-- <mat-form-field class="field-block">
        <mat-label>Password</mat-label>
        <input type="password" matInput required formControlName="password" name="customerPass">
        <mat-error *ngIf="registerForm.get('password').hasError('required')">Please enter Password !!!</mat-error> 
        <mat-error *ngIf="!registerForm.get('password').hasError('minLength')">Minimum 6 digit password required.</mat-error> 
      </mat-form-field>
      <mat-form-field class="field-block">
        <mat-label>Confirm Password</mat-label>
        <input type="password" matInput required formControlName="confirmPassword" compare="password">
        <mat-error *ngIf="registerForm.get('confirmPassword').hasError('required')">Please enter Confirm Password !!!</mat-error> 
        <mat-error *ngIf="!registerForm.get('confirmPassword').hasError('minLength')">Minimum 6 digit password required.</mat-error> 
        <mat-error *ngIf="registerForm.get('confirmPassword').hasError('compare')">Password Confirm donot match</mat-error> 
      </mat-form-field> -->
      <div style="text-align:center; margin-top:30px">
        <button class="btn-primary" mat-flat-button color="primary" style="width:50%" [disabled]="!registerForm.valid">Sign In</button>
       
    </div>  
     
    </form>
    <div style="text-align:center; margin-top:30px">
      <button class="btn-primary" mat-flat-button color="primary" style="width:50%"  (click)="getUsers()">Get Users</button>
     
  </div>  
  </div>
</div>
